<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-dark  ml-auto">
  
  <a class="navbar-brand"  (click)="moviesService.goToDashboard()"><img  width="7%" src="https://firebasestorage.googleapis.com/v0/b/my-first-project-1c27e.appspot.com/o/imageonline-co-transparentimage.png?alt=media&token=0fd07b21-b087-488b-8dd3-abab3c915c7d"
    alt="Movies Room image"></a>
    
    <li class="nav-item text-light"><span style=" color: rgb(247, 245, 245);"><fa-icon [icon]="faUser"></fa-icon></span>  {{ user.displayName }}</li>
    <li class="nav-item">
      <a class="nav-link "  ><button class="btn bg-light" (click)="moviesService.goToWishlist()"><span style="color: Tomato;"><i class="fa fa-heart bg-light"></i></span></button></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" ><button class="btn btn-danger" (click)="moviesService.logOut()">Logout<span style="color: rgb(255, 249, 248);"><i class="fa fa-sign-out-alt"></i></span></button></a>
    </li>
    
    
</nav>


<div class="container my-5 justify-content-center" *ngIf="loader">
  <h1 class="text-center">Loading Movies....</h1>
</div>
<div class="container my-5 justify-content-center ml-auto" *ngIf="!loader" >
  <div class="container my-5 ml-auto">
  <form >
    <input class="form-control" name="search" type="text"  placeholder="Search movies ..." [(ngModel)]="searchMovie" >
  </form>
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Add to Wishlist</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies | filter:searchMovie  " >
        <td >{{movie.title}}</td>
        <td >{{movie.year}}</td>
        <td >{{movie.genre}}</td>
        <td ><button class="btn " (click)=addMovieToWishlist(movie)><span style="color: Tomato;"><i class="fa fa-heart "></i></span></button></td>
      
      </tr>
      
    </tbody>
  </table>
</div>
