<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<div class="container my-5">
    <div class="text-center">
    <div class="mb-5">
        <h1>Movies Room</h1>
        <img style="width: 30%"
            src="https://firebasestorage.googleapis.com/v0/b/my-first-project-1c27e.appspot.com/o/imageonline-co-transparentimage.png?alt=media&token=0fd07b21-b087-488b-8dd3-abab3c915c7d"
            alt="Movies Room image"
        />
    </div>
    <button class="btn btn-info bg-success" (click)="moviesService.signInWithGoogle()">
        <i class="fa fa-google"></i> Sign in with Google</button></div>

</div>